startup --host_jvm_args=-Dbazel.DigestFunction=SHA256

build --spawn_strategy=remote --jobs=20 --genrule_strategy=remote --strategy=Javac=remote --strategy=Closure=remote  

build --remote_executor=remote:8980

build --strategy=AngularTemplateCompile=remote --strategy=TypeScriptCompile=remote

build --define=EXECUTOR=remote
build --experimental_strict_action_env=true

build --symlink_prefix=dist/

# Use the Angular 6 compiler
build --define=compile=legacy