--host_jvm_args=-Dbazel.DigestFunction=SHA256

build --spawn_strategy=remote
build --strategy=Javac=remote
build --strategy=Closure=remote
build --genrule_strategy=remote
build --jobs=20

build --remote_executor=remote:8980 
build --remote_cache=remote:8980

build --strategy=AngularTemplateCompile=remote --strategy=TypeScriptCompile=remote

build --remote_instance_name=default_memory_instance
build --experimental_strict_action_env=true

build --symlink_prefix=dist/
build --java_toolchain=@io_bazel_rules_appengine//appengine:jdk7
build --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk7

